.modal {
	font-family: 'Montserrat';
	z-index: 9999;
	background-color: #fafafa;
}

.modal-footer {
	background-color: #fafafa !important;
}

.btn-flat:hover {
	background-color: #e0e0e0;
}

.modal-content {
	padding-bottom: 0 !important;
}

.modal > .row {
	padding: 2.5em;
	margin-top: 0;
	margin-bottom: 0;
}
.closeModal {
	position: absolute;
	top: 0;
	right: 0;
}

.closeModal i {
	cursor: pointer;
	font-size: 2em;
	/* border: 2px solid black;
	border-radius: 100%; */
}

#moviePoster {
	height: 100%;
	width: 100%;
	padding: auto;
}

.movieModalInfo {
	padding-right: 0 !important;
}

#movieTitle {
	margin-bottom: 2em;
}

#movieTitle > .row {
	margin-top: 0;
}

#moviePlot {
	font-size: 1.5em;
	margin-top: 0;
}

.movieInfo {
	font-size: 1.2em;
	padding-left: 0.75em;
	padding-right: 0;
	margin-bottom: 0;
	line-height: 2;
}

.movieStarRating {
	padding-left: 0 !important;
}

.material-icons {
	font-size: 1.5em;
}

.unchecked {
	color: #ead2ad;
}

.checked {
	color: #ffa500;
}

.modalBox {
	margin: 0;
}
